<!DOCTYPE html>
<html lang="pt-br">
<head>
  <title> - Guia de Hospedagem de Sites</title>
  <meta charset="utf-8">
  <meta name='viewport' content='width=device-width,initial-scale=1' />
  <link href="http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic" rel="stylesheet" type="text/css">

  <link href="/locawebstyle/assets/bootstrap.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="/locawebstyle/assets/locastyle.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="/locawebstyle/assets/manual.css" media="screen" rel="stylesheet" type="text/css" />

</head>
<body class="assets assets_locastyle assets_locastyle_stylesheets assets_locastyle_stylesheets_colors assets_locastyle_stylesheets_colors_green">

<!-- topbar header -->
<header id="topbar" class="clearfix">
  <div class="limit">
    <!-- <h1 class="logo"><a href="#"><img src="/assets/img/manual/logo.png" alt="Locaweb Hosting"></a></h1> -->
    <h1 class="logo"><a href="/">LOCAWEB STYLE</a></h1>
    <ul class="social-links">
      <li><a href="#"><img alt="Nosso Facebook" class="img-facebook" src="/locawebstyle/assets/manual/img/ico-facebook.png" /></a>
      <li><a href="#"><img alt="Nosso Twitter" class="img-twitter" src="/locawebstyle/assets/manual/img/ico-twitter.png" /></a>
    </ul>
  </div>
</header>
<!-- END topbar header -->  /* line 16, ../../assets/locastyle/stylesheets/colors/theme_base.scss */
.colorGreen a:hover,
.colorGreen .lnkArrow:hover,
.colorGreen .lnkSeta:hover,
.colorGreen [class^="ico-"]:hover,
.colorGreen [class*=" ico-"]:hover,
.colorGreen .collapseGroup summary span,
.colorGreen .boxCollapse h4 span,
.colorGreen #menuPrincipal > ul > li > a:hover,
.colorGreen #menuPrincipal .parent > a:hover,
.colorGreen .carousel-control,
.colorGreen .serviceName a,
.colorGreen .innerSideBox [class^="ico-"],
.colorGreen .innerSideBox [class*="ico-"],
.colorGreen .listWhite li a:before,
.colorGreen .boxInfoAction.sought strong,
.colorGreen .boxInfoAction.sought b {
  color: #94c83c; }

/* line 47, ../../assets/locastyle/stylesheets/colors/theme_base.scss */
.colorGreen a,
.colorGreen #menuPrincipal .btMenu a,
.colorGreen .collapseGroup summary span,
.colorGreen .boxCollapse h4 span,
.colorGreen .lnkArrow,
.colorGreen #menuPrincipal > ul > li > a:hover,
.colorGreen .boxGray.listDetail a,
.colorGreen td a,
.colorGreen #menuPrincipal .parent:hover > a,
.colorGreen .pagination li.first-child a,
.colorGreen .pagination li.last-child a,
.colorGreen .pagination .first a,
.colorGreen .pagination .prev a,
.colorGreen .pagination .next a,
.colorGreen .pagination .last a,
.colorGreen p a,
.colorGreen .lnkSeta, .colorGreen .lnkArrow,
.colorGreen .breadcrumb a,
.colorGreen [class^="ico-"],
.colorGreen [class*=" ico-"],
.colorGreen .pathWay li.active b,
.colorGreen .pathWay li:hover b,
.colorGreen .shortcutBox :hover :before,
.colorGreen .shortcutBox .active :before,
.colorGreen .chooseBox li:hover [class^="ico-"]:before,
.colorGreen .chooseBox li:hover [class*="ico-"]:before,
.colorGreen .chooseBox li.active [class^="ico-"]:before,
.colorGreen .chooseBox li.active [class*="ico-"]:before {
  color: #76a030; }

/* line 59, ../../assets/locastyle/stylesheets/colors/theme_base.scss */
.colorGreen .boxCollapse header h4,
.colorGreen .pathWay li.active a,
.colorGreen .pathWay li:hover a,
.colorGreen .sidebar h1,
.colorGreen .chooseBox li:hover p,
.colorGreen .chooseBox li.active p,
.colorGreen .shortcutBox div:hover p,
.colorGreen .shortcutBox div.active p {
  color: #3b5018; }

/* line 75, ../../assets/locastyle/stylesheets/colors/theme_base.scss */
.colorGreen .chooseBox li:hover h4,
.colorGreen .chooseBox li.active h4,
.colorGreen .content h2,
.colorGreen .content h3,
.colorGreen .content h4,
.colorGreen .content h5,
.colorGreen .content h6,
.colorGreen .shortcutBox h3,
.colorGreen .shortcutBox h3 a,
.colorGreen .chooseBox li h4[class^="ico-"]:before,
.colorGreen .chooseBox li h4,
.colorGreen .chooseBox li:hover h4,
.colorGreen .chooseBox li.active h4 {
  color: #1e280c; }

/* line 84, ../../assets/locastyle/stylesheets/colors/theme_base.scss */
.colorGreen .progress .bar,
.colorGreen .pathWay li.active,
.colorGreen .pathWay li:hover,
.colorGreen #menuPrincipal .btMenu a:hover,
.colorGreen #menuPrincipal .btMenu a:active,
.colorGreen .notification header:before {
  background-color: #94c83c; }

/* line 93, ../../assets/locastyle/stylesheets/colors/theme_base.scss */
.colorGreen #menuPrincipal,
.colorGreen .tabs li a:hover,
.colorGreen .tabs li a:focus,
.colorGreen .tabs li.active a,
.colorGreen #menuPrincipal ul li ul,
.colorGreen .dropdown-menu.listIdent {
  border-bottom-color: #94c83c; }

/* line 99, ../../assets/locastyle/stylesheets/colors/theme_base.scss */
.colorGreen .tabs li.active a,
.colorGreen .tabs li a:hover,
.colorGreen .tabs li a:focus {
  border-top-color: #94c83c; }

/* line 103, ../../assets/locastyle/stylesheets/colors/theme_base.scss */
.colorGreen .btn-group.open .btn-primary.dropdown-toggle {
  background-color: #94c83c; }

/* line 105, ../../assets/locastyle/stylesheets/colors/theme_base.scss */
.colorGreen .boxCollapse header {
  border-left-color: #94c83c; }

/* line 109, ../../assets/locastyle/stylesheets/colors/theme_base.scss */
.colorGreen #menuPrincipal > ul > li.selected > a {
  background-color: #94c83c; }

/* line 113, ../../assets/locastyle/stylesheets/colors/theme_base.scss */
.colorGreen .boxSidebarTitle {
  background-color: #3b5018; }

/* line 115, ../../assets/locastyle/stylesheets/colors/theme_base.scss */
.colorGreen .btn-primary {
  border: 1px solid #76a030; }

/* line 118, ../../assets/locastyle/stylesheets/colors/theme_base.scss */
.colorGreen .pathWay li.active a,
.colorGreen .pathWay li:hover a {
  background-color: #eaf4d8; }

/* line 122, ../../assets/locastyle/stylesheets/colors/theme_base.scss */
.colorGreen .chooseBox .active:after {
  border-top: 13px solid #d4e9b1; }

/* line 123, ../../assets/locastyle/stylesheets/colors/theme_base.scss */
.colorGreen .chooseBox .active:before {
  border-top: 15px solid #94c83c; }

/* line 125, ../../assets/locastyle/stylesheets/colors/theme_base.scss */
.colorGreen .chooseBox li:hover,
.colorGreen .chooseBox li.active {
  border: 1px solid #d4e9b1; }

/* line 134, ../../assets/locastyle/stylesheets/colors/theme_base.scss */
.colorGreen .select2-results .select2-highlighted,
.colorGreen .select2-results .select2-highlighted:focus,
.colorGreen .btn-primary,
.colorGreen .dropdown-menu li > a:hover,
.colorGreen .dropdown-menu li > a:focus,
.colorGreen .dropdown-submenu:hover > a {
  background-color: #76a030;
  background-image: -moz-linear-gradient(top, #94c83c 0%, #76a030 100%);
  background-image: -webkit-linear-gradient(top, #94c83c 0%, #76a030 100%);
  background-image: -o-linear-gradient(top, #94c83c 0%, #76a030 100%);
  background-image: -ms-linear-gradient(top, #94c83c 0%, #76a030 100%);
  background-image: linear-gradient(to bottom, #94c83c 0%, #76a030 100%); }

/* line 147, ../../assets/locastyle/stylesheets/colors/theme_base.scss */
.colorGreen .shortcutBox div.active,
.colorGreen .shortcutBox div:hover,
.colorGreen .chooseBox li:hover,
.colorGreen .chooseBox li.active {
  border-color: #94c83c;
  background-color: #d4e9b1;
  background: -moz-linear-gradient(top, white 0%, #d4e9b1 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #d4e9b1));
  background: -webkit-linear-gradient(top, white 0%, #d4e9b1 100%);
  background: -o-linear-gradient(top, white 0%, #d4e9b1 100%);
  background: -ms-linear-gradient(top, white 0%, #d4e9b1 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #d4e9b1 100%); }

/* line 159, ../../assets/locastyle/stylesheets/colors/theme_base.scss */
.colorGreen .gradient {
  background-color: #eaf4d8;
  background-image: -moz-linear-gradient(top, #f5faec 0%, #eaf4d8 100%);
  background-image: -webkit-linear-gradient(top, #f5faec 0%, #eaf4d8 100%);
  background-image: -o-linear-gradient(top, #f5faec 0%, #eaf4d8 100%);
  background-image: -ms-linear-gradient(top, #f5faec 0%, #eaf4d8 100%);
  background-image: linear-gradient(to bottom, #f5faec 0%, #eaf4d8 100%); }

/* line 168, ../../assets/locastyle/stylesheets/colors/theme_base.scss */
.colorGreen.ie9 .gradient {
  background-color: #eaf4d8; }

/* line 171, ../../assets/locastyle/stylesheets/colors/theme_base.scss */
.colorGreen .pagination .current,
.colorGreen .pagination .active a {
  border-color: #94c83c;
  background-color: #94c83c;
  background-image: -moz-linear-gradient(top, #94c83c 0%, #76a030 100%);
  background-image: -webkit-linear-gradient(top, #94c83c 0%, #76a030 100%);
  background-image: -o-linear-gradient(top, #94c83c 0%, #76a030 100%);
  background-image: -ms-linear-gradient(top, #94c83c 0%, #76a030 100%);
  background-image: linear-gradient(to bottom, #94c83c 0%, #76a030 100%); }

/* line 181, ../../assets/locastyle/stylesheets/colors/theme_base.scss */
.colorGreen .progress .bar {
  background-color: #76a030;
  background-image: -moz-linear-gradient(top, #94c83c 0%, #76a030 100%);
  background-image: -webkit-linear-gradient(top, #94c83c 0%, #76a030 100%);
  background-image: -o-linear-gradient(top, #94c83c 0%, #76a030 100%);
  background-image: -ms-linear-gradient(top, #94c83c 0%, #76a030 100%);
  background-image: linear-gradient(to bottom, #94c83c 0%, #76a030 100%); }



<!-- Other Guides -->
<!-- <section class="other-guides cBoth">
	<div class="limit">
		<h1>Outros guias Locaweb</h1>
		<ul>
			<li>
				<a href="#">
					<img src="images/thumb-email.png">
					<h2>Email Marketing</h2>
				</a>
			</li>

			<li>
				<a href="#">
					<img src="images/thumb-email.png">
					<h2>Cloud e Servidores dedicados</h2>
				</a>
			</li>
			<li>
				<a href="#">
					<img src="images/thumb-email.png">
					<h2>Criador de sites mobile</h2>
				</a>
			</li>
			<li>
				<a href="#">
					<img src="images/thumb-email.png">
					<h2>Email Locaweb</h2>
				</a>
			</li>
			<li>
				<a href="#">
					<img src="images/thumb-email.png">
					<h2>Registro de Domínio</h2>
				</a>
			</li>
		</ul>
	</div>
</section> -->
<!-- END Other Guides -->



<!-- footer -->
<footer class="footer">
  <div class="limit">
    <h1 class="logo">
      <a href="http://developer.locaweb.com.br/locawebstyle/"><img alt="Locaweb Style" class="img-logo-footer" src="/locawebstyle/assets/manual/img/logo-footer.png" /></a>
    </h1>
    <p>Copyright © 1997-2013 Locaweb Serviços de Internet S/A. <br>Todo o conteúdo deste site é de uso exclusivo da Locaweb.</p>
  </div>
</footer>
<!-- END footer-->


<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-32633790-2']);
  _gaq.push(['_setDomainName', 'locaweb.com.br']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

  <script src="/locawebstyle/assets/libs.js" type="text/javascript"></script>
  <script src="/locawebstyle/assets/locastyle.js" type="text/javascript"></script>
  <script src="/locawebstyle/assets/bootstrap.js" type="text/javascript"></script>
  <script src="/locawebstyle/assets/manual.js" type="text/javascript"></script>

</body>
</html>
