<!DOCTYPE html>
<html lang="pt-br">
<head>
  <title> - Guia de Hospedagem de Sites</title>
  <meta charset="utf-8">
  <meta name='viewport' content='width=device-width,initial-scale=1' />
  <link href="http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic" rel="stylesheet" type="text/css">

  <link href="/locawebstyle/assets/bootstrap.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="/locawebstyle/assets/locastyle.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="/locawebstyle/assets/manual.css" media="screen" rel="stylesheet" type="text/css" />

</head>
<body class="assets assets_locastyle assets_locastyle_stylesheets assets_locastyle_stylesheets_colors assets_locastyle_stylesheets_colors_theme_base">

<!-- topbar header -->
<header id="topbar" class="clearfix">
  <div class="limit">
    <!-- <h1 class="logo"><a href="#"><img src="/assets/img/manual/logo.png" alt="Locaweb Hosting"></a></h1> -->
    <h1 class="logo"><a href="/">LOCAWEB STYLE</a></h1>
    <ul class="social-links">
      <li><a href="#"><img alt="Nosso Facebook" class="img-facebook" src="/locawebstyle/assets/manual/img/ico-facebook.png" /></a>
      <li><a href="#"><img alt="Nosso Twitter" class="img-twitter" src="/locawebstyle/assets/manual/img/ico-twitter.png" /></a>
    </ul>
  </div>
</header>
<!-- END topbar header -->  /*
Syntax error: Undefined variable: "$theme_name".
        on line 1 of /Users/renatocn/projetos/locaweb/locawebstyle/source/assets/locastyle/stylesheets/colors/theme_base.scss

1: #{$theme_name} a:hover,
2: #{$theme_name} .lnkArrow:hover,
3: #{$theme_name} .lnkSeta:hover,
4: #{$theme_name} [class^="ico-"]:hover,
5: #{$theme_name} [class*=" ico-"]:hover,
6: #{$theme_name} .collapseGroup summary span,

Backtrace:
/Users/renatocn/projetos/locaweb/locawebstyle/source/assets/locastyle/stylesheets/colors/theme_base.scss:1
/Users/renatocn/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/script/variable.rb:49:in `_perform'
/Users/renatocn/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/script/node.rb:40:in `perform'
/Users/renatocn/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:398:in `block in run_interp_no_strip'
/Users/renatocn/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:396:in `map'
/Users/renatocn/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:396:in `run_interp_no_strip'
/Users/renatocn/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:406:in `run_interp'
/Users/renatocn/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:313:in `visit_rule'
/Users/renatocn/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/renatocn/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/renatocn/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/renatocn/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/renatocn/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/renatocn/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Users/renatocn/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/renatocn/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/renatocn/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/renatocn/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/Users/renatocn/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/renatocn/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/renatocn/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/renatocn/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/tree/root_node.rb:20:in `render'
/Users/renatocn/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/engine.rb:315:in `_render'
/Users/renatocn/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/engine.rb:262:in `render'
/Users/renatocn/.rvm/gems/ruby-1.9.3-p194/gems/middleman-core-3.0.14/lib/middleman-core/renderers/sass.rb:67:in `evaluate'
/Users/renatocn/.rvm/gems/ruby-1.9.3-p194/gems/tilt-1.3.7/lib/tilt/template.rb:77:in `render'
/Users/renatocn/.rvm/gems/ruby-1.9.3-p194/gems/middleman-core-3.0.14/lib/middleman-core/core_extensions/rendering.rb:264:in `render_individual_file'
/Users/renatocn/.rvm/gems/ruby-1.9.3-p194/gems/middleman-core-3.0.14/lib/middleman-core/core_extensions/rendering.rb:148:in `render_template'
/Users/renatocn/.rvm/gems/ruby-1.9.3-p194/gems/middleman-core-3.0.14/lib/middleman-core/sitemap/resource.rb:128:in `block in render'
/Users/renatocn/.rvm/gems/ruby-1.9.3-p194/gems/activesupport-3.2.13/lib/active_support/notifications.rb:125:in `instrument'
/Users/renatocn/.rvm/gems/ruby-1.9.3-p194/gems/middleman-core-3.0.14/lib/middleman-core/util.rb:60:in `instrument'
/Users/renatocn/.rvm/gems/ruby-1.9.3-p194/gems/middleman-core-3.0.14/lib/middleman-core/application.rb:222:in `instrument'
/Users/renatocn/.rvm/gems/ruby-1.9.3-p194/gems/middleman-core-3.0.14/lib/middleman-core/sitemap/resource.rb:14:in `instrument'
/Users/renatocn/.rvm/gems/ruby-1.9.3-p194/gems/middleman-core-3.0.14/lib/middleman-core/sitemap/resource.rb:114:in `render'
/Users/renatocn/.rvm/gems/ruby-1.9.3-p194/gems/middleman-core-3.0.14/lib/middleman-core/core_extensions/request.rb:255:in `process_request'
/Users/renatocn/.rvm/gems/ruby-1.9.3-p194/gems/middleman-core-3.0.14/lib/middleman-core/core_extensions/request.rb:204:in `block in call!'
/Users/renatocn/.rvm/gems/ruby-1.9.3-p194/gems/middleman-core-3.0.14/lib/middleman-core/core_extensions/request.rb:203:in `catch'
/Users/renatocn/.rvm/gems/ruby-1.9.3-p194/gems/middleman-core-3.0.14/lib/middleman-core/core_extensions/request.rb:203:in `call!'
/Users/renatocn/.rvm/gems/ruby-1.9.3-p194/gems/middleman-core-3.0.14/lib/middleman-core/core_extensions/request.rb:188:in `call'
/Users/renatocn/.rvm/gems/ruby-1.9.3-p194/gems/rack-1.4.5/lib/rack/builder.rb:134:in `call'
/Users/renatocn/.rvm/gems/ruby-1.9.3-p194/gems/rack-1.4.5/lib/rack/urlmap.rb:64:in `block in call'
/Users/renatocn/.rvm/gems/ruby-1.9.3-p194/gems/rack-1.4.5/lib/rack/urlmap.rb:49:in `each'
/Users/renatocn/.rvm/gems/ruby-1.9.3-p194/gems/rack-1.4.5/lib/rack/urlmap.rb:49:in `call'
/Users/renatocn/.rvm/gems/ruby-1.9.3-p194/gems/rack-1.4.5/lib/rack/builder.rb:134:in `call'
/Users/renatocn/.rvm/gems/ruby-1.9.3-p194/gems/rack-test-0.6.2/lib/rack/mock_session.rb:30:in `request'
/Users/renatocn/.rvm/gems/ruby-1.9.3-p194/gems/rack-test-0.6.2/lib/rack/test.rb:230:in `process_request'
/Users/renatocn/.rvm/gems/ruby-1.9.3-p194/gems/rack-test-0.6.2/lib/rack/test.rb:57:in `get'
/Users/renatocn/.rvm/gems/ruby-1.9.3-p194/gems/middleman-core-3.0.14/lib/middleman-core/cli/build.rb:137:in `render_to_file'
/Users/renatocn/.rvm/gems/ruby-1.9.3-p194/gems/middleman-core-3.0.14/lib/middleman-core/cli/build.rb:282:in `block in execute!'
/Users/renatocn/.rvm/gems/ruby-1.9.3-p194/gems/middleman-core-3.0.14/lib/middleman-core/cli/build.rb:279:in `each'
/Users/renatocn/.rvm/gems/ruby-1.9.3-p194/gems/middleman-core-3.0.14/lib/middleman-core/cli/build.rb:279:in `execute!'
/Users/renatocn/.rvm/gems/ruby-1.9.3-p194/gems/middleman-core-3.0.14/lib/middleman-core/cli/build.rb:198:in `invoke!'
/Users/renatocn/.rvm/gems/ruby-1.9.3-p194/gems/thor-0.15.4/lib/thor/actions.rb:95:in `action'
/Users/renatocn/.rvm/gems/ruby-1.9.3-p194/gems/middleman-core-3.0.14/lib/middleman-core/cli/build.rb:65:in `build'
/Users/renatocn/.rvm/gems/ruby-1.9.3-p194/gems/thor-0.15.4/lib/thor/task.rb:27:in `run'
/Users/renatocn/.rvm/gems/ruby-1.9.3-p194/gems/thor-0.15.4/lib/thor/invocation.rb:120:in `invoke_task'
/Users/renatocn/.rvm/gems/ruby-1.9.3-p194/gems/thor-0.15.4/lib/thor.rb:275:in `dispatch'
/Users/renatocn/.rvm/gems/ruby-1.9.3-p194/gems/thor-0.15.4/lib/thor/base.rb:425:in `start'
/Users/renatocn/.rvm/gems/ruby-1.9.3-p194/gems/middleman-core-3.0.14/lib/middleman-core/cli.rb:77:in `method_missing'
/Users/renatocn/.rvm/gems/ruby-1.9.3-p194/gems/thor-0.15.4/lib/thor/task.rb:29:in `run'
/Users/renatocn/.rvm/gems/ruby-1.9.3-p194/gems/thor-0.15.4/lib/thor/task.rb:126:in `run'
/Users/renatocn/.rvm/gems/ruby-1.9.3-p194/gems/thor-0.15.4/lib/thor/invocation.rb:120:in `invoke_task'
/Users/renatocn/.rvm/gems/ruby-1.9.3-p194/gems/thor-0.15.4/lib/thor.rb:275:in `dispatch'
/Users/renatocn/.rvm/gems/ruby-1.9.3-p194/gems/thor-0.15.4/lib/thor/base.rb:425:in `start'
/Users/renatocn/.rvm/gems/ruby-1.9.3-p194/gems/middleman-core-3.0.14/lib/middleman-core/cli.rb:22:in `start'
/Users/renatocn/.rvm/gems/ruby-1.9.3-p194/gems/middleman-core-3.0.14/bin/middleman:18:in `<top (required)>'
/Users/renatocn/.rvm/gems/ruby-1.9.3-p194/bin/middleman:23:in `load'
/Users/renatocn/.rvm/gems/ruby-1.9.3-p194/bin/middleman:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined variable: \"$theme_name\".\A         on line 1 of /Users/renatocn/projetos/locaweb/locawebstyle/source/assets/locastyle/stylesheets/colors/theme_base.scss\A \A 1: #{$theme_name} a:hover,\A 2: #{$theme_name} .lnkArrow:hover,\A 3: #{$theme_name} .lnkSeta:hover,\A 4: #{$theme_name} [class^=\"ico-\"]:hover,\A 5: #{$theme_name} [class*=\" ico-\"]:hover,\A 6: #{$theme_name} .collapseGroup summary span,"; }



<!-- Other Guides -->
<!-- <section class="other-guides cBoth">
	<div class="limit">
		<h1>Outros guias Locaweb</h1>
		<ul>
			<li>
				<a href="#">
					<img src="images/thumb-email.png">
					<h2>Email Marketing</h2>
				</a>
			</li>

			<li>
				<a href="#">
					<img src="images/thumb-email.png">
					<h2>Cloud e Servidores dedicados</h2>
				</a>
			</li>
			<li>
				<a href="#">
					<img src="images/thumb-email.png">
					<h2>Criador de sites mobile</h2>
				</a>
			</li>
			<li>
				<a href="#">
					<img src="images/thumb-email.png">
					<h2>Email Locaweb</h2>
				</a>
			</li>
			<li>
				<a href="#">
					<img src="images/thumb-email.png">
					<h2>Registro de Domínio</h2>
				</a>
			</li>
		</ul>
	</div>
</section> -->
<!-- END Other Guides -->



<!-- footer -->
<footer class="footer">
  <div class="limit">
    <h1 class="logo">
      <a href="http://developer.locaweb.com.br/locawebstyle/"><img alt="Locaweb Style" class="img-logo-footer" src="/locawebstyle/assets/manual/img/logo-footer.png" /></a>
    </h1>
    <p>Copyright © 1997-2013 Locaweb Serviços de Internet S/A. <br>Todo o conteúdo deste site é de uso exclusivo da Locaweb.</p>
  </div>
</footer>
<!-- END footer-->


<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-32633790-2']);
  _gaq.push(['_setDomainName', 'locaweb.com.br']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

  <script src="/locawebstyle/assets/libs.js" type="text/javascript"></script>
  <script src="/locawebstyle/assets/locastyle.js" type="text/javascript"></script>
  <script src="/locawebstyle/assets/bootstrap.js" type="text/javascript"></script>
  <script src="/locawebstyle/assets/manual.js" type="text/javascript"></script>

</body>
</html>
